.App {
  width: 1240px;
  height: 1754px;
  background-color: rgb(31, 35, 37);
  margin: 0 auto;
  position: relative;
  
}

* {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

p {
  color: rgb(228, 228, 228);
}

.title {
  color: rgb(89, 189, 214);
  font-size: 1.7rem;
  font-weight: 800;
  margin-top: 1rem;
}