.work-edu-component{
  display: flex;
  justify-content: space-between;
  
}
.work,
.edu{
  width: 48%;
  background-color: #30373d;
  margin-top: 2rem;
}
.work-edu-component span{
  text-align: center;
  display: block;
  padding: 1.5rem 0;
}
.work-content,
.edu-content{
  padding: 0 2rem;
}
.section,
.date-content{
  display: flex;
}
.date-content{
  align-items: center;
  display: flex;
}
.section{
  align-items: flex-start;
}
.edu-details{
  margin: 1rem 2rem;
}
.edu p{
  margin: 0;
  font-weight: 400;
  color: rgb(228, 228, 228);
}
.edu p{
  margin: 0;
  color: rgb(89, 189, 214);
}
.edu-details h2{
  color: rgb(211, 209, 209);
  margin: 0;
  font-size: 1rem;
}
.edu-details h3{
  color: rgb(228, 228, 228);
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}
.footer i.fa{
  font-size: 3rem;
}